<section class="covers-section" id="covers">
  <h2 class="covers-heading">Covers</h2>
  <div class="covers-wrapper">
    
      <ul class="covers-slide-list">
        <li class="covers-list-item"><img src="../img/slide1.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide2.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide3.png" alt="" class="covers-slide" /></li>
      </ul>

      <ul class="covers-slide-list">
        <li class="covers-list-item"><img src="../img/slide4.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide5.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide6.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide7.png" alt="" class="covers-slide" /></li>
      </ul>

      <ul class="covers-slide-list">
        <li class="covers-list-item"><img src="../img/slide8.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide9.png" alt="" class="covers-slide" /></li>
        <li class="covers-list-item"><img src="../img/slide10.png" alt="" class="covers-slide" /></li>
      </ul>
  </div>
</section>
