<section class="section">
  <h2 class="projects-title">Projects</h2>

  <div class="block">
    <ul class="projects-list">
      <li class="projects-list-item">
        <div class="projects-list-item-tech">#react</div>
        <div class="projects-list-item-tech">#js</div>
        <div class="projects-list-item-tech">#node js</div>
        <div class="projects-list-item-tech">#git</div>
      </li>
    </ul>
    <p class="projects-text">
      Programming Across Borders: Ideas, Technologies, Innovations
    </p>
    <a href="" class="projects-link-button">See project</a>
  </div>
  <div class="second-block">
    <picture>
      <source
        srcset="
          ./img/1440/rev_desc_14_1@1x.webp 1x,
          ./img/1440/rev_desc_14_1@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />

      <source
        class="reviews-img"
        srcset="
          ./img/1280/rev_desc_12_1@1x.webp 1x,
          ./img/1280/rev_desc_12_1@2x.webp 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./img/tablet/rev_tab_1@1x.webp 1x,
          ./img/tablet/rev_tab_1@2x.webp 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./img/mobile/rev_mob@1x.webp 1x,
          ./img/mobile/rev_mob@2x.webp 2x
        "
        media="(max-width: 768px)"
      />

      <img
        class="reviews-img"
        src="./img/1280/rev_desc_12_1@1x.webp"
        alt="yacht"
      />
    </picture>
  </div>
  <div class="scroll-button"></div>
  <div class="scroll-button"></div>
</section>
