<section class="section">
  <h2 class="projects-title">Projects</h2>

  <div class="block">
    <ul class="projects-list">
      <li class="projects-list-item">
        <div class="projects-list-item-tech">#react</div>
        <div class="projects-list-item-tech">#js</div>
        <div class="projects-list-item-tech">#node js</div>
        <div class="projects-list-item-tech">#git</div>
      </li>
    </ul>
    <p class="projects-text">
      Programming Across Borders: Ideas, Technologies, Innovations
    </p>
    <a href="" class="projects-link-button">See project</a>
  </div>
  <div class="second-block">
    <picture>
      <source
        class="projects-img"
        srcset="
          ./img/projects_img/phone_desktop.jpg    1x,
          ./img/projects_img/phone_desktop_2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />

      <source
        srcset="
          ./img/projects_img/phone_tablet.jpg    1x,
          ./img/projects_img/phone_tablet_2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./img/projects_img/phone_mobile.jpg    1x,
          ./img/projects_img/phone_mobile_2x.jpg 2x
        "
        media="(max-width: 768px)"
      />

      <img
        class="projects-image"
        src="./img/projects_img/phone_desktop.jpg"
        alt="project"
      />
    </picture>
  </div>
  <div class="button-box">
    <div class="scroll-button"></div>
    <div class="scroll-button"></div>
  </div>
</section>
