<section class="section projects-section" id="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-list-item swiper-slide">
          <div class="block-box">
            <div class="first-block">
              <div class="tech-list">
                <div class="projects-list-item-tech n-one">#react</div>
                <div class="projects-list-item-tech n-two">#js</div>
                <div class="projects-list-item-tech n-three">#node js</div>
                <div class="projects-list-item-tech n-four">#git</div>
              </div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                target="_blank"
                href="https://github.com/LAdamenko/project-united-minds-js"
                class="projects-link-button"
                >See project</a
              >
            </div>
            <div class="second-block">
              <picture class="img-block">
                <source
                  class="projects-img"
                  srcset="
                    ./img/projects/phone_desktop.jpg    1x,
                    ./img/projects/phone_desktop_2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects/phone_tablet.jpg    1x,
                    ./img/projects/phone_tablet_2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./img/projects/phone_mobile.jpg    1x,
                    ./img/projects/phone_mobile_2x.jpg 2x
                  "
                  media="(max-width: 768px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects/phone_desktop.jpg"
                  alt="project"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-list-item swiper-slide">
          <div class="block-box">
            <div class="first-block">
              <div class="tech-list">
                <div class="projects-list-item-tech n-one">#react</div>
                <div class="projects-list-item-tech n-two">#js</div>
                <div class="projects-list-item-tech n-three">#node js</div>
                <div class="projects-list-item-tech n-four">#git</div>
              </div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                target="_blank"
                href="https://github.com/LAdamenko/project-united-minds-js"
                class="projects-link-button"
                >See project</a
              >
            </div>
            <div class="second-block">
              <picture class="img-block swiper-slide">
                <source
                  class="projects-img"
                  srcset="
                    ./img/projects/dog_desktop.jpg    1x,
                    ./img/projects/dog_desktop_2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects/dog_tablet.jpg    1x,
                    ./img/projects/dog_tablet_2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./img/projects/dog_mobile.jpg    1x,
                    ./img/projects/dog_mobile_2x.jpg 2x
                  "
                  media="(max-width: 768px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects/dog_desktop.jpg"
                  alt="project"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="projects-list-item swiper-slide">
          <div class="block-box">
            <div class="first-block">
              <div class="tech-list">
                <div class="projects-list-item-tech n-one">#react</div>
                <div class="projects-list-item-tech n-two">#js</div>
                <div class="projects-list-item-tech n-three">#node js</div>
                <div class="projects-list-item-tech n-four">#git</div>
              </div>
              <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                target="_blank"
                href="https://github.com/LAdamenko/project-united-minds-js"
                class="projects-link-button"
                >See project</a
              >
            </div>
            <div class="second-block">
              <picture class="img-block">
                <source
                  class="projects-img"
                  srcset="
                    ./img/projects/register_desktop.jpg    1x,
                    ./img/projects/register_desktop_2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />

                <source
                  srcset="
                    ./img/projects/register_tablet.jpg    1x,
                    ./img/projects/register_tablet_2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    ./img/projects/register_mobile.jpg    1x,
                    ./img/projects/register_mobile_2x.jpg 2x
                  "
                  media="(max-width: 768px)"
                />

                <img
                  class="projects-image"
                  src="./img/projects/register_desktop.jpg"
                  alt="project"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="button-box">
        <div class="scroll-button swiper-prev">
          <svg class="scroll-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </div>
        <div class="scroll-button swiper-next">
          <svg class="scroll-icon" width="32" height="32">
            <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
