<section class="reviews-section">
  <h2>Reviews</h2>
  <div class="swiper-container">
    <div class="swiper">
      <ul class="reviews-list"></ul>
    </div>
    <nav class="swiper-navigation">
      <button class="swiper-button prev-button">
        <svg class="icon-arrow">
          <use href="../img/reviews/arrows.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button next-button">
        <svg class="icon-arrow">
          <use href="../img/reviews/arrows.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="not-found"><p>Not found</p></div>
</section>
