<section class="reviews-section">
  <h2 id="reviews">Reviews</h2>
  <div class="swiper-container">
    <ul class="reviews-list swiper-wrapper"></ul>
    <nav class="swiper-navigation">
      <button class="swiper-button-prev-reviews">
        <svg class="icon-arrow">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next-reviews">
        <svg class="icon-arrow">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </nav>
  </div>
  <div class="not-found"><p>Not found</p></div>
</section>
