.hide-title-about {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.image-about-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  gap: 16px;
}

.title-about-container {
  height: 500px;
  border-radius: 24px;
  background: #242527;
  padding: 28px 32px;
}

.title-about {
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0;
}

.red {
  color: #ed3b44;
}

.gray {
  color: rgba(250, 250, 250, 0.4);
}

.text-about-container {
  margin-bottom: 32px;
}

.img-about {
  border-radius: 24px;
  width: 100%;
}

.list-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-about {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;
}

.head-cv-about-container {
  display: flex;
}

.small-title-about {
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);

  margin-right: auto;
}

.text-cv-about-container {
  text-align: start;
  padding: 12px 0 0;
}

.paragraph-about {
  letter-spacing: -0.02em;
  color: #fafafa;
}

.gap {
  margin-bottom: 32px;
}

.ac-text-about {
  margin-bottom: 10px;
}

.btn-about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;

  padding: 9px;
  width: 36px;
  height: 36px;
  margin-bottom: 0;
}

.skills-about-container {
  display: flex;
  margin: 0 auto;
  width: 343px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 55px;
  overflow: hidden;
}

.skills-about-container .swiper-slide-active {
  background-color: #ed3b44;
}

.list-skills-about {
  display: flex;
}

.icon-close {
  width: 12px;
  height: 12px;
  fill: none;
  stroke: #fafafa;
  stroke-width: 2px;
  border: none;
}

.icon-open {
  width: 12px;
  height: 12px;
  fill: none;
  stroke: #fafafa;
  stroke-width: 2px;
  border: none;
  transform: rotate(180deg);
}

.list-skills-about .item-skills-about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-skills-about {
  text-align: center;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.btn-arrow {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.arrow-skills {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: #3B3B3B;
  stroke-width: 2px;
  border: none;
}

/* =========================================== */

.about {
  min-width: 320px;
  margin: 0 auto;
  padding: 64px 10px 32px;
}

.container-about {
  min-width: 300px;
  margin: 0 auto;
}

.swiper-about .swiper-wrapper {
  width: 343px;
  overflow: hidden;
}

.ac .ac-panel {
  overflow: hidden;
  transition: height 250ms cubic-bezier(.4, 0, .2, 1), visibility 250ms cubic-bezier(.4, 0, .2, 1);
}

.btn-about:hover,
.btn-about:active,
.is-active .btn-about {
  border-color: #000;
  background-color: #E0373F;
}

.btn-about:hover .icon-about,
.is-active .icon-about {
  stroke: #000;
}

.is-active .small-title-about,
.small-title-about:hover,
.small-title-about:active {
  color: #E0373F;
}

.arrow-skills:hover,
.arrow-skills:focus {
  stroke: #E0373F;
}

@media screen and (min-width: 375px) and (max-width: 767px) {

  .about {
    max-width: 375px;
    margin: 0 auto;
    padding: 64px 16px 32px;
  }

  .container-about {
    max-width: 343px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1339px) {

  .about {
    max-width: 768px;
    margin: 0 auto;
    padding: 64px 32px 48px;
  }

  .container-about {
    max-width: 704px;
    margin: 0 auto;
  }

  .image-about-container {
    margin-bottom: 64px;
  }

  .title-about-container {
    height: 700px;
    padding: 64px;
  }

  .title-about {
    font-size: 38px;
    line-height: 1.05263;
  }

  .text-about-container {
    margin-bottom: 64px;
  }

  .list-about {
    gap: 32px;
  }

  .skills-about-container {
    width: 704px;
    gap: 64px;
  }

  .text-cv-about-container {
    text-align: start;
    padding: 8px 0 0;
  }

  .btn-about {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .icon-open {
    width: 12px;
    height: 12px;
  }

  .icon-close {
    width: 12px;
    height: 12px;
  }

  .btn-arrow {
    width: 40px;
    height: 40px;
  }

  .arrow-skills {
    width: 40px;
    height: 40px;
  }

  .swiper-about .swiper-wrapper {
    width: 704px;
    overflow: hidden;
  }

  .list-skills-about .item-skills-about {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 32px 82px;
  }

  .container-about {
    max-width: 1376px;
    margin: 0 auto;
  }

  .image-about-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
  }

  .title-about-container {
    width: 680px;
    height: 700px;

    padding: 64px;
  }

  .title-about {
    width: 570px;
    font-size: 38px;
    line-height: 1.05263;
  }

  .paragraph-about {
    width: 612px;
  }

  .text-about-container {
    margin-bottom: 96px;
  }

  .list-about {
    gap: 32px;
  }

  .skills-about-container {
    width: 1312px;
    gap: 72px;
  }

  .text-cv-about-container {
    text-align: start;
    letter-spacing: -0.02em;
    color: #fafafa;

    padding: 8px 68px 0 696px;
  }

  .list-cv-about {
    width: 430px;
  }

  .btn-about {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .icon-close {
    width: 12px;
    height: 12px;
  }

  .icon-open {
    width: 12px;
    height: 12px;
  }

  .list-skills-about .item-skills-about {
    width: 200px;
    height: 200px;
  }

  .title-skills-about {
    font-size: 20px;
  }

  .btn-arrow {
    width: 39px;
    height: 40px;
  }

  .arrow-skills {
    width: 40px;
    height: 40px;
  }

  .swiper-about .swiper-wrapper {
    width: 1376px;
    overflow: hidden;
  }
}