.page-header {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
}

@media screen and (max-width: 374px) {
  .page-header {
    padding: 0 16px;
  }

}

.header-container {
  width: 343px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
}

.logo-container {
  display: flex;
  gap: 8px;
}

.logo {
  color: #fafafa;
}

.logo:active {
  color: #e0373f;
}

.header-button:active {
  background-color: #e0373f;
}

.menu-link:active {
  color: #e0373f;
}

@media screen and (max-width: 767px) {
  .menu-button {
    border: none;
    stroke: #fafafa;
    background-color: transparent;
    line-height: 0;
  }

  .menu-link {
    display: none;
  }

  .header-button {
    display: none;
  }
}

/* ---------------------------------------------TABLET--------------------------------------------------*/

@media screen and (min-width: 768px) {
  .header-container {
    width: 704px;
  }

  .menu-button {
    display: none;
  }

  .menu-link {
    color: #fafafa;
    text-decoration: underline;
    padding: 10px;
    width: 60px;
    height: 39px;
  }

  .header-button {
    border: none;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    color: #fafafa;
    background-color: #ed3b44;
    letter-spacing: -0.02em;
    font-size: 15px;
  }
}

/* ------------------------------------------------------------DESKTOP---------------------------------*/

@media screen and (min-width: 1440px) {
  .header-container {
    width: 1376px;
  }

  .logo:hover,
  .logo:focus {
    color: #e0373f;
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #e0373f;
  }

  .header-button:hover,
  .header-button:focus {
    background-color: #e0373f;
  }
}
